<template name="Menu">

	<h2 class="c-menu__title">Available Players:</h2>

	<ul class="o-list-bare c-menu__players">

		{{#if players}}
			{{#each players}}
				<li class="{{#if isBusy}}is-busy{{/if}} c-menu__players-item">
					<span class="c-menu__players-link">{{username}}</span>
					<div class="c-menu__modal js-challenge">
						<p class="c-menu__modal-text">Would you like to challenge this player?</p>
						<a href="#" class="js-challenge-yes">Yes</a>
						<a href="#" class="js-challenge-no">No</a>
					</div>
				</li>
			{{/each}}
		{{else}}
			<p class="c-menu__players-empty">There are no other players online right now!</p>
		{{/if}}

	</ul>

<div style="2px #687628 solid">
		<p class="c-menu__title">You Started It Log</p>
		<ul class="o-list-bare c-menu__players">
		{{#each outboundGames}}
			<li data-alert="true">Game with {{user2username}} {{outboundGame}}</li>
		{{/each}}
		</ul>

		<p class="c-menu__title">They Started it Log</p>
		<ul class="o-list-bare c-menu__players">
		{{#each inboundGames}}
			<li data-alert="true">{{user1username}}'s Game' {{inboundGame}}</li>
		{{/each}}
		</ul>
</div>

</template>
