<template name="Menu">

	<h2 class="c-menu__title">Available Players:</h2>

	<ul class="o-list-bare c-menu__players">
		<li class="c-menu__players-item">
			<span class="c-menu__players-link">Jordan</span>
			<div class="c-menu__modal js-challenge">
				<p class="c-menu__modal-text">Would you like to challenge this player?</p>
				<a href="#">Yes</a>
				<a href="#">No</a>
			</div>
		</li>
		<li class="c-menu__players-item is-busy">
			<span class="c-menu__players-link">Kevin</span>
			<div class="c-menu__modal js-challenge">
				<p class="c-menu__modal-text">Would you like to challenge this player?</p>
				<a href="#">Yes</a>
				<a href="#">No</a>
			</div>
		</li>
		<li class="c-menu__players-item">
			<span class="c-menu__players-link">Link</span>
			<div class="c-menu__modal js-challenge">
				<p class="c-menu__modal-text">Would you like to challenge this player?</p>
				<a href="#">Yes</a>
				<a href="#">No</a>
			</div>
		</li>
		<li class="c-menu__players-item">
			<span class="c-menu__players-link">Zelda</span>
			<div class="c-menu__modal js-challenge">
				<p class="c-menu__modal-text">Would you like to challenge this player?</p>
				<a href="#">Yes</a>
				<a href="#">No</a>
			</div>
		</li>
	</ul>

</template>